<div class="container text-center mt-5 mb-2">
    <b class="fs-2 p-5">Add New Product</b>
    <div class="container w-50 text-center mt-2 mb-5" style="background-color:rgba(209, 155, 128, 0.416)">
        
        <form [formGroup]="addProductForm" class="form-control" (ngSubmit)="addNewProduct()">
    <input type="text" formControlName="id" class="form-control mt-2 p-2" id="pid" name="pi" placeholder="Product Id">
    <input type="text" formControlName="productBrand" class="form-control mt-2 p-2" id="pbr" name="pb" placeholder="Product Brand">
    <input type="text" formControlName="categoryId" class="form-control mt-2 p-2" id="cid" name="ci" placeholder="Category ID">
    <input type="text" formControlName="categoryName" class="form-control mt-2 p-2" id="cname" name="cn" placeholder="Category Name">
    <input type="text" formControlName="productName" class="form-control mt-2 p-2" id="pname" name="pn" placeholder="Product Name">
    <input type="text" formControlName="mrpPrice" class="form-control mt-2 p-2" id="mrp" name="p1" placeholder="MRP Price">
    <input type="text" formControlName="price" class="form-control mt-2 p-2" id="p" name="p2" placeholder="Price">
    <input type="text" formControlName="isAvailable" class="form-control mt-2 p-2" id="pavail" name="pa" placeholder="Availablity">
    <input type="text" formControlName="productImage" class="form-control mt-2 p-2" id="pimg" name="img" placeholder="Product Image">
    <input type="text" formControlName="rating" class="form-control mt-2 p-2" id="prat" name="rat" placeholder="Product Rating">
    <input type="text" formControlName="reviews" class="form-control mt-2 p-2" id="prev" name="rev" placeholder="Product Review">
    <input type="text" formControlName="discount" class="form-control mt-2 p-2" id="dis" name="di" placeholder="Discount">
    <!-- <input type="text" class="form-control mt-2 p-2" placeholder="Product Id"> -->
    <button class="btn btn-outline-light p-2 m-3" style="background-color: rgba(132, 13, 13, 0.834);" onclick="">Add Product</button>
        </form>
    </div>
</div>
